* {
  box-sizing: border-box;
}
body{
  font-family: 'lato','sans-serif';
  background-color: #eee;
}
.header-img {
  max-width: 300px;
}
.nav-name {
  display: flex;
  flex-direction: row;
}
.header{
  display: flex;
  margin-top: 20px;

}
#nav-bar{
  margin-left: auto;
}
.nav-link{
  margin: 40px;
  color: rgb(0, 0,0);
  text-decoration: none;
  font-size: 16px;
}
.hero{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;

}
.heading{
  margin-bottom: 20px;
  color:rgb(0, 0,0) ;
  font-size: 24px;
}
.input{
  display: flex;
  flex-direction: column;
}
#email{
  width: 275px;
  /* width: 100%; */
  padding: 5px;
}
.btn{
  width: 150px;
  height:30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #f1c40f;
  border: none;
  font-size: 16px;
  border-radius: 2px;
  text-transform: uppercase;
  font-weight: 900;
}
.grid{
  display: flex;
}
.container{

  margin-left: auto;
  margin-right: auto;
  width: 1000px;
}
.features{
  margin-top: 30px;
}
.icon{
  align-items: center;
  height: 125px;
  width: 10vw;
  color:darkorange;
  display: flex;
  justify-content: center;
}
.content{
  height: 125px;
  width: 80vw;
  padding: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.content h1{

  margin: 0;
}
.content p{
  margin: 0;
}
.how-it-works{
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.how-it-works iframe{
  width: 560px;
}
.pricing{
  margin-top: 60px;
  display: flex;
  justify-content: center;
}
.box{
  width: 300px;
  border: 1px solid #000;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 20px;
}
.level{
  background-color: #ddd;
  margin-top: 0;
  padding: 15px 0;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  width: 100%;
}
.price{
  margin-top: 15px;
  font-size: 24px;
}
.list{
  margin-top: 15px;
  list-style: none;

}
.list-item{
  padding: 5px;
}
.footer{
  margin-top: 30px;
  background-color: #ddd;
  padding: 20px ;
}
.footer ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  margin-left: auto;
  justify-content: flex-end;
}
.footer ul li{
  padding: 0 10px;
}
.footer span{
  display: flex;
  justify-content: flex-end;
  color: #444;
  margin-top: 5px;
  font-size: 14px;
}
@media(max-width:800px){
  .pricing{
    flex-direction: column;
    justify-content: center;
    
  }
}